*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:100%;
    height: 100vh;
    background-color: #141a34;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    width:90%;
    max-width: 550px;
    padding:30px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.input-group{
    display: flex;
    width:100%;
    align-items: center;
    position: relative;
}

.input-group label{
    flex-basis: 28%;
}

.input-group input,.input-group textarea{
    flex-basis: 78%;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #999;
    outline:none;
    padding:18px;
    margin-top: 5px;
}

::placeholder{
    font-size: 14px;
}

form button{
    margin-left: 45%;
    margin-top: 5%;
    padding:10px 20px;
    border:none;
    background-color: rgb(238, 158, 11);
    border-radius: 7px;
    color:white;
    font-size: 17px;
}

.input-group span{
    position: absolute;
    color:red;
    right:10px;
    top:20px;
    /* display: none; */
}

#submit-error{
    color:red;
    position: absolute;
    top:90%;
    left:7%;
}