

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(orange,rgb(255, 94, 0));
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top:100px;
}

.input{
    width:80%;
    max-width: 400px;
}

#search-input{
    width:100%;
    padding:20px;
    border:none;
    outline:none;
    border-radius: 5px;
    text-align: start;
    font-size: large;
    cursor: pointer;
    position: relative;
}

.card{
    position: absolute;
    margin-top: 40px;
    padding:30px;
    background-color: rgb(224, 194, 158);
    width:80%;
    max-width: 400px;
    border-radius: 5px;
    display: none;
}

.card img{
    width:40px;
    margin-right: 20px;
    transition:all 0.3s ease-in;
}

.card .social{
    display: flex;
    justify-content: start;
    align-items: center;
    padding:10px;
    cursor: pointer;
}

.card .social:hover{
    background-color:rgb(240, 233, 224);
    border-radius: 7px;
    transform: scale(1.1);
}